{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-three-quarters">
        <h1 class="title">Dashboard</h1>
        <div class="box">
            <h2 class="subtitle">Uploaded Prescriptions</h2>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Prescription</th>
                        <th>Upload Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prescription in prescriptions %}
                    <tr>
                        <td>{{ prescription.prescription_data.medicine_name }}</td>
                        <td>{{ prescription.upload_date }}</td>
                        <td>
                            <a class="button is-small is-info" href="/share/{{ prescription.id }}/">Share</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}